.catagory.container
    .row.mt-5
        .col-md-6.catagory__colums
            img(src="./img/catagory/1.png", alt="")
            .row.mt-3
                .col-md-6.catagory__colums
                    img(src="./img/catagory/3.png", alt="")
                .col-md-6.catagory__colums
                    img(src="./img/catagory/4.png", alt="")
        .col-md-6.catagory__colums
            img(src="./img/catagory/2.png", alt="")
            .catagory__text
                h3 CATAGORY NAME