.womens.mt-10.container
    h1 WOMEN’S FASHION
    p.mt-2 Shop our new arrivals from established brands
    .card-group.mt-7
        .card(style='width: 16.6rem;').me-3
            img.card-img-top(src="./img/womens/1.png", alt="#")
            .card-body
                p.card-text IGURE
                h3.card-title GREEN MUSCLE FIT POLO SHIRT
            .card-price
                h6.through.me-4 $229.00
                h6.red $129.00
        .card(style='width: 18rem;').me-3
            img.card-img-top(src="./img/womens/2.png", alt="#")
            .card-body
                p.card-text IGURE
                h3.card-title GREEN MUSCLE FIT POLO SHIRT
            .card-price
                h6.through.me-4 $229.00
                h6.red $129.00
        .card(style='width: 18rem;').me-3
            img.card-img-top(src="./img/womens/3.png", alt="#")
            .card-body
                p.card-text IGURE
                h3.card-title GREEN MUSCLE FIT POLO SHIRT
            .card-price
                h6.through.me-4 $229.00
                h6.red $129.00
        .card(style='width: 18rem;')
            img.card-img-top(src="./img/womens/4.png", alt="#")
            .card-body
                p.card-text IGURE
                h3.card-title GREEN MUSCLE FIT POLO SHIRT
            .card-price
                h6.through.me-4 $229.00
                h6.red $129.00
.mens.container.mt-10
    h1 MEN’S FASHION
    p Shop our new arrivals from established brands
    .card-group.mt-7
        .card(style='width: 16.6rem;').me-3
            img.card-img-top(src="./img/mens/1.png", alt="#")
            .card-body
                p.card-text IGURE
                h3.card-title GREEN MUSCLE FIT POLO SHIRT
            .card-price
                h6.through.me-4 $229.00
                h6.red $129.00
        .card(style='width: 18rem;').me-3
            img.card-img-top(src="./img/mens/2.png", alt="#")
            .card-body
                p.card-text IGURE
                h3.card-title GREEN MUSCLE FIT POLO SHIRT
            .card-price
                h6.through.me-4 $229.00
                h6.red $129.00
        .card(style='width: 18rem;').me-3
            img.card-img-top(src="./img/mens/3.png", alt="#")
            .card-body
                p.card-text IGURE
                h3.card-title GREEN MUSCLE FIT POLO SHIRT
            .card-price
                h6.through.me-4 $229.00
                h6.red $129.00
        .card(style='width: 18rem;')
            img.card-img-top(src="./img/mens/4.png", alt="#")
            .card-body
                p.card-text IGURE
                h3.card-title GREEN MUSCLE FIT POLO SHIRT
            .card-price
                h6.through.me-4 $229.00
                h6.red $129.00