.header.sticky-top.bg-light
    nav.navbar.navbar-expand-lg.navbar-light.py-4.container
        .container-fluid
            a.navbar-brand(href='#') YOUR LOGO
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item
                        a.nav-link( href='#') home
                    li.nav-item
                        a.nav-link(href='#') shop
                    li.nav-item
                        a.nav-link(href='#') lookBook
                    li.nav-item
                        a.nav-link(href='#') features
                    li.nav-item
                        a.nav-link(href='#') pages
                    li.nav-item
                        a.nav-link(href='#') blog
                .social-media.ms-auto
                    a(href="#")
                        i.fas.fa-search
                    a(href="#")
                        i.far.fa-heart
                    a(href="#")
                        i.fas.fa-shopping-cart
.section.container-fluid
    .row
        .col-md-8
        .section-text.col-md-4.mt-5p
            h5 NEW TRANDE
            h1 COLLUSION
            h6 An exclusive selection of this season's trends.
            .section-btn.mt-6
                a.btn.btn-lg.me-3.btn-color(href='#' tabindex='-1' role='button' aria-disabled='true') DISCOVER
                a.btn.btn-lg.btn-color(href='#' tabindex='-1' role='button' aria-disabled='true') SHOP NOW